div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 500px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #333;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
	margin-left:-150px;
}
div.controls a {
	padding: 5px;
    
}
div.ss-controls 
{
    font-weight:bold;
	float: left;
}
div.nav-controls 
{
    font-weight:bold;
	margin-left:380px;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	/*width: 500px;*/
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	margin-left:-150px;
}
div.slideshow 
{
    
    
}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	margin-left: -180px;
	/*background-color: Fuchsia;*/
	width: 700px;
    overflow:hidden;
    border: 1px solid #d3d3d3;
}
div.slideshow a.advance-link {
	display: block;
	/*width: 500px;*/
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 0px solid #d3d3d3;
    max-height:490px;
    /*max-width:490px;*/
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 75px;
    margin-left: -150px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 500px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation 
{
    /*background-color: Fuchsia;*/
    margin-left: -20px;
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;

}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #d3d3d3;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
	width:50px;
	height:50px;
}
div.pagination 
{
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 8px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #d3d3d3;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #23669A;
	/*border-color: #000;*/
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
