
/* LOCATION   
----------------------------------------------------------*/
div.location
{
    width:100%;
    min-height: 300px;
    margin:9px;
}
div.locationLeft
{
    width:40%;
    min-height: 200px;
    float:left;
    
}

div.locationtRight
{
    width:50%;
    min-height: 300px;
    float:right;
    margin: 9px 18px 9px 9px;
}