/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #CFD8DE;
    font-size: medium;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}

a:active
{
    color: #034af3;
}

a img, a:visited img
{
    border: #FFFFCC; 
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: medium;
    color: #666666;
    /*font-variant: small-caps;*/
    text-transform: none;
    /*font-weight: 200;*/
    margin-bottom: 0px;
}

h1
{
    font-size: x-large;
    font-variant: small-caps;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: large;
    font-variant: small-caps;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h3
{
    font-size: larger;
    padding-bottom: 0px;
    font-weight:bold;
}

h4
{
    font-size: larger;
    padding-bottom: 0px;
    font-weight:normal;
}

h5, h6
{
    font-size: medium;
    padding-bottom: 0px;
    font-weight:normal;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto auto auto;
    border: 0px;
    min-height:540px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: transparent;
    background-image: url('http://www.pietaimoveis.com.br/Images/Header.png');
    /*background-image: url('/Images/Header.png');*/
    width: 100%;
    height: 278px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.header h3
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    /*font-size: 2em;*/
}

.headerBlueLine
{
    color: #23669A;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border-bottom:2px solid;
    border-color:#23669A;
    width: 932px;
    margin-bottom:4px;
}


.headerBlueLine h1, h2, h3
{
    color: #23669A;
}

.headerBlueShortLine
{
    color: #23669A;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border-bottom:2px solid;
    border-color:#23669A;
    width: 100%;
    margin-bottom:4px;
}
.headerBlueShortLine h1, h2, h3
{
    color: #23669A;
}

.main
{
    vertical-align:bottom;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 9px;
    width:942px;    
    padding: 0px 0px;
    background-color: White;
}

/*.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}*/

.footer
{
    color: White;
    font-size: small;
    vertical-align: top;
    width: 960px;
    height:24px;
    margin: 0px auto 0px auto;
    background-color: #23669A;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

/*fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}



div.accountInfo
{
    width: 42%;
}
*/

.input
{
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.radioItem
{
    font-size: medium;
    margin: 0px;
    padding: 0px;
}
/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.logo
{
    margin: 4px;
    margin-left:30px;
    height:80px;
    
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

/*.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}*/

div.darkBlueHighlight
{
    width: 100%;
    max-width: 916px;
    background-color: #23669A;
    padding: 0px 8px 0px 8px;
}
div.darkBlueHighlight h1
{
    margin: 0px;
    color: White;
    font-size: xx-large;
}
div.darkBlueHighlight h2
{
    margin: 0px;
    color: White;
    font-size: x-large;
}
div.darkBlueHighlight h3
{
    margin: 0px;
    color: White;
    font-size: large;
}
