<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>