<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="PietaEntities" connectionString="metadata=res://*/Data.PietaDataModel.csdl|res://*/Data.PietaDataModel.ssdl|res://*/Data.PietaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-PC;Initial Catalog=TK1_Pieta;Persist Security Info=True;User ID=sa;Password=ncssp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
