/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-size: medium;
    font-family: "Segoe UI", Tahoma, Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color: #cfcfcf;

}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}
img
{  
    border-style: none;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
}

h1
{
    font-size: xx-large;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
}

h2
{
    font-size: large;
    font-weight: 600;
}

h3
{
    font-size: medium;
}

h4
{
    font-size: small;
}

h5, h6
{
    font-size: small;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.headerMenu
{
    background-color: #333;
    color: #FFF;
    width: 960px;
    margin: 0px auto 0px auto;
    border: 0px solid #FFF;
}
.headerMenu table
{
    width:100%;
}
.headerMenu tr
{
}
.headerMenu td
{
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #333;
    width: 100%;
}
.headerMenu
{
    background-color: #333;
    color: #FFF;
    width: 960px;
    margin: 0px auto 0px auto;
    border: 0px solid #FFF;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
.footer
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #cfcfcf;
    width: 100%;
}
.footerContent
{
    background-color: #cfcfcf;
    color: #333;
    width: 960px;
    margin: 0px auto 0px auto;
    border: 0px solid #FFF;
}

.content
{
    min-height: 420px;
    background-color: #FFF;
}
.page
{
    background-color: #FFF;
    color: #333;
    width: 960px;
    margin: 0px auto 0px auto;
    border: 0px solid #FFF;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/* BUTTON   
----------------------------------------------------------*/
.darkButton
{
    /*min-width:30px;
    min-height:20px;*/
    vertical-align:middle;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.darkButton:hover
{
    background-color: #222;
}

.darkButton a:active
{
}
.darkButton a:hover
{
}

/* BUTTON   
----------------------------------------------------------*/
.darkLinkButton
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    margin-left: 10px;
    color: #333;
}

.darkLinkButton a:link
{
    color: #333;
    text-decoration: none;
}

.darkLinkButton a:visited
{
    color: #333;
}

.darkLinkButton a:hover
{
    color: #333;
    text-decoration: underline;
}




/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#A8CF45;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #A8CF45;
    border: 1px #efefef solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    /*float: left;*/
    text-align: center;
    width: auto;
    
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}