<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDRE-NOTEPLUS;initial catalog=TK1;persist security info=True;user id=sa;password=P@$$w0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
