
/* VIEWER   
----------------------------------------------------------*/
.featureViewerInner
{
    padding:8px;
}
.featureViewerOuter
{
    width:178px;
    /*min-height: 340px;*/
    background-color: #EFEFEF;
    overflow: hidden;
    margin-right:8px;
}
div.featureViewerImage
{
    height:100px;
    /*position: relative;
    float: left;*/
    /*background-color: Fuchsia;*/
    overflow: hidden;
}
.featureViewerImage
{
    width:160px;
    margin: 6px 0px 4px 0px 12px;
}
.featureViewerInfo
{
    /*position: relative;
    float: right;*/
    /*width: 700px;*/
    min-height: 440px;
    /*background-color: Orange;*/
}
.featureViewerDescription
{
    /*position: relative;
    float: right;*/
    /*width: 700px;*/
    height: 280px;
    overflow:hidden;
    /*background-color: Orange;*/
}
div.featureViewerDetailButton
{
    /*background-color:#23669A;*/
    width:160;
    height: 30px;
    text-align:center;
}
div.featureViewerDetailButton a
{
    margin-left: auto;
    margin-right: auto;
    font-size:large;
    font-weight:bold;
    color:#00458b;
    text-align:center;
}
/* DETAILS   
----------------------------------------------------------*/
