
/* VIEWER   
----------------------------------------------------------*/
.featureViewerOuter
{
    text-align:center;
    width:178px;
    background-color: #efefef;
    overflow: hidden;
    margin-right:8px;
    
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.featureViewerInner
{
    padding:8px;
}
.featureViewerInner P
{
    margin-bottom: 0px;
    line-height: 1em;
}
.featureViewerInner h1,.featureViewerInner h2,.featureViewerInner h3, h4, h5, h6
{
    margin-bottom: 0px;
    line-height: 1em;
}

div.featureViewerImage
{
    height:100px;
    overflow: hidden;
}
.featureViewerImage
{
    width:160px;
    margin: 6px 0px 4px 0px 12px;
}
.featureViewerInfo
{
    min-height: 440px;
}
.featureViewerDescription
{
    overflow:hidden;
}
div.featureViewerDetailButton
{
    padding-top: 4px;
    text-align:center;
}
div.featureViewerDetailButton a
{
    font-size:small;
    font-weight:bold;
    text-align:center;
}
/* DETAILS   
----------------------------------------------------------*/
