
/* VIEWER   
----------------------------------------------------------*/
.quickSearch
{
    padding:8px;
    font-size:large;
    font-weight:bold;
}
div.quickSearchImage
{
    height:100px;
    overflow: hidden;
}
.quickSearchImage
{
    width:160px;
    margin: 6px 0px 4px 0px 12px;
}
.quickSearchInfo
{
    min-height: 440px;
}
.quickSearchDescription
{
    height: 280px;
    overflow:hidden;
}
div.quickSearchButton
{
    width:160;
    height: 30px;
    text-align:center;
}
div.quickSearchButton a
{
    margin-left: auto;
    margin-right: auto;
    font-size:large;
    font-weight:bold;
    color:#00458b;
    text-align:center;
}
/* DETAILS   
----------------------------------------------------------*/
