<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=189.38.85.105;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=tk1pwd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=189.38.85.105;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=tk1pwd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=189.38.85.105;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=tk1pwd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="None"></authentication>
    <!--<httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>-->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
        type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="BrokerFileService.customBinding0">
          <!--<binaryMessageEncoding />-->
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880"/>
          </textMessageEncoding>
          <httpTransport maxReceivedMessageSize="4096000" maxBufferSize="4096000"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="BrokerFileService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BrokerFileService.customBinding0" contract="BrokerFileService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <!--<behavior name="Integra.Behavior">
       <serviceMetadata httpGetEnabled="true" />
       <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>-->
  </system.serviceModel>
</configuration>