<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TK1ClientBaseEntities" connectionString="metadata=res://*/Model.ClientBaseModel.csdl|res://*/Model.ClientBaseModel.ssdl|res://*/Model.ClientBaseModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql15.kinghost.net;user id=tk1;password=tk1pwd;persist security info=True;database=tk1&quot;" providerName="System.Data.EntityClient" />
    <add name="TK1ClientBizzEntities" connectionString="metadata=res://*/Data.ClientBizzModel.csdl|res://*/Data.ClientBizzModel.ssdl|res://*/Data.ClientBizzModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql15.kinghost.net;User Id=tk1;password=tk1pwd;Persist Security Info=True;database=tk1&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>