.headContent
{
    background-color:#23669A;
    width:942px;
    color:#fff;
    
}
.headContent h1
{
    font-size:20px;
    color:#fff;
    padding: 0px 0px 0px 0px;
    /*font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: none;
    line-height: 2em;
    font-size: 2em;*/
}

.headContent h3
{
    color:#fff;
    padding: 0px 0px 0px 0px;
/*    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #3b3b3b;
    border: none;
    line-height: 2em;*/
    /*font-size: 2em;*/
}
.headContent p
{
    /*margin-bottom: 10px;*/
    line-height: 1em;
    font-size:16px;
}

.headContent a, .headContent a:visited
{
    color:#fff;
}
div.headContent
{
    margin: 9px;
}


