/* SEARCH   
----------------------------------------------------------*/
.buttonSearch a, buttonSearch a:visited
{
    color: #ffffff;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px 0px 0px 2px;
    font-weight: bold;
    line-height: 1.35em;
    font-size:1.25em;

}
.buttonSearch
{
    background-image: url('http://www.pietaimoveis.com.br/Images/ButtonSearch.png');
    /*background-image: url('/Images/ButtonSearch.png');*/
    height:36px;
    width:114px;
    float:right;
    margin: 4px 8px 4px 4px;
}
.buttonSearch:hover
{
    background-image: url('http://www.pietaimoveis.com.br/Images/ButtonSearchHover.png');
    /*background-image: url('/Images/ButtonSearchHover.png');*/
}
.buttonSearchBack a, buttonSearchBack a:visited
{
    color: #ffffff;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px 0px 0px 2px;
    font-weight: bold;
    line-height: 1.35em;
    font-size:1.25em;

}
.buttonSearchBack
{
    background-image: url('http://www.pietaimoveis.com.br/Images/ButtonSearchBack.png');
    /*background-image: url('/Images/ButtonSearch.png');*/
    height:35px;
    width:192px;
    margin: 4px 8px 4px 0px;
}
.buttonSearchBack:hover
{
    background-image: url('http://www.pietaimoveis.com.br/Images/ButtonSearchBackHover.png');
    /*background-image: url('/Images/ButtonSearchHover.png');*/
}

div.search
{
    padding: 2px 0px 0px 4px;
    line-height: 1.35em;
    font-size:1.1em;
    min-height:120px;
    background-color: #23669A;
}
div.search a, div.search a:visited
{
    color: #ffffff;
    display: block;
    line-height: 1.35em;
    padding: 4px;
    text-decoration: none;
    white-space: nowrap;
}

.search h3
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
    border: none;
}

/* SEARCH RESULTS
----------------------------------------------------------*/

div.searchResult
{
    /*margin-left: 9px;
    margin-right: 9px;
    background-color:#465c71;
    width:942px;*/
    min-height: 100px
}
div.searchResult
{
    /*margin-left: 9px;
    margin-right: 9px;
    background-color:#465c71;
    width:942px;*/
    min-height: 100px
}
.searchResult h3
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #3d3d3d;
    border: none;
    line-height: 2em;
    /*font-size: 2em;*/
}

div.searchDetailHeader
{
    color: #23669A;
    /*vertical-align: top;*/
    width: 916px;
    height:54px;
    /*margin: 0px auto 0px auto;*/
    background-color: #23669A;
    padding: 0px 8px 0px 8px;
}
div.searchDetailHeader h1
{
    font-weight: bold;
    margin: 0px;
    /*padding: 0px 8px 0px 8px;*/
    color: White;
    border: none;
    /*line-height: 2.5em;*/
    font-size: 2em;
}
div.searchDetailHeader h2
{
    font-weight: normal;
    margin: 0px;
    /*padding: 0px 0px 0px 8px;*/
    color: White;
    border: none;
    /*line-height: 2em;*/
    font-size: 1.8em;
}
div.searchDetailHeader h3
{
    font-weight: normal;
    margin: 0px;
    /*padding: 0px 0px 0px 8px;*/
    color: White;
    border: none;
    line-height: 1.4em;
    font-size: 1.4em;
}
.divSitePics
{
    background-color: #efefef;
    width: 932px;
    height:632px;
    margin-top:4px;
    /*border: 1px solid #efefef;*/
}


/* SEARCH RELEASES
----------------------------------------------------------*/

div.releases
{
    background-color:#ffffff;
    width:100%;
    min-height: 100px
}
.releases h3
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #3d3d3d;
    border: none;
    line-height: 2em;
    /*font-size: 2em;*/
}