<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tk1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tk1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tk1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.TK1.Mvc.Models.UsersContext, Web.TK1.Mvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BrokerEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd" Name="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TK1.Data.Bizz.Broker.Model.BrokerEntities, TK1.Data.Bizz" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TK1Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd" Name="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TK1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BrokerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Broker.Model.BrokerModel.csdl|res://*/Broker.Model.BrokerModel.ssdl|res://*/Broker.Model.BrokerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TK1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>