<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="NC_DM45Entities" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NC-DESENV01;Initial Catalog=NC_DM45;Persist Security Info=True;User ID=sa;Password=ncssp;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NC_DM45_CodeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nc-desenv01;Initial Catalog=NC_DM45_Code;User ID=sa;Password=ncssp;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ClassTester.Properties.Settings.NC_DM45_CodeConnectionString"
      connectionString="Data Source=nc-desenv01;Initial Catalog=NC_DM45_Code;User ID=sa;Password=ncssp"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>