<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="PietaEntities" connectionString="metadata=res://*/Data.PietaDataModel.csdl|res://*/Data.PietaDataModel.ssdl|res://*/Data.PietaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NotePlus;Initial Catalog=TK1_Pieta;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PietaEntities" connectionString="metadata=res://*/Data.PietaDataModel.csdl|res://*/Data.PietaDataModel.ssdl|res://*/Data.PietaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-PC;Initial Catalog=TK1_Pieta;Persist Security Info=True;User ID=sa;Password=ncssp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PietaEntities" connectionString="metadata=res://*/Data.PietaDataModel.csdl|res://*/Data.PietaDataModel.ssdl|res://*/Data.PietaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=187.45.196.24;Initial Catalog=pietaimoveis;Persist Security Info=True;User ID=pietaimoveis;Password=senhapieta;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql.tk1.net.br;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=senhatk1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql.tk1.net.br;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=senhatk1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql.tk1.net.br;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=senhatk1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BizzEntities" connectionString="metadata=res://*/Data.BizzModel.csdl|res://*/Data.BizzModel.ssdl|res://*/Data.BizzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=prkumqpyfy.database.windows.net;Initial Catalog=TK1;Persist Security Info=True;User ID=tk1;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TK1ClientBaseEntities" connectionString="metadata=res://*/Data.ClientBaseModel.csdl|res://*/Data.ClientBaseModel.ssdl|res://*/Data.ClientBaseModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.pietaimoveis.com.br;User Id=pietaimoveis;password=pietapwd;Persist Security Info=True;database=pietaimoveis&quot;" providerName="System.Data.EntityClient"/>
    <add name="TK1ClientBizzEntities" connectionString="metadata=res://*/Data.ClientBizzModel.csdl|res://*/Data.ClientBizzModel.ssdl|res://*/Data.ClientBizzModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.pietaimoveis.com.br;User Id=pietaimoveis;password=pietapwd;Persist Security Info=True;database=pietaimoveis&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>