
/* VIEWER   
----------------------------------------------------------*/
.featureViewerInner
{
    padding:8px;
}
.featureViewerInner P
{
    margin-bottom: 0px;
    line-height: 1em;
}
.featureViewerInner h1,.featureViewerInner h2,.featureViewerInner h3, h4, h5, h6
{
    margin-bottom: 0px;
    line-height: 1em;
}
.featureViewerOuter
{
    width:178px;
    background-color: #FFF;
    overflow: hidden;
    margin-right:8px;
}
div.featureViewerImage
{
    height:100px;
    overflow: hidden;
}
.featureViewerImage
{
    width:160px;
    margin: 6px 0px 4px 0px 12px;
}
.featureViewerInfo
{
    min-height: 440px;
}
.featureViewerDescription
{
    overflow:hidden;
}
div.featureViewerDetailButton
{
    width:160;
    height: 30px;
    text-align:center;
}
div.featureViewerDetailButton a
{
    margin-left: auto;
    margin-right: auto;
    font-size:large;
    font-weight:bold;
    color:#333333;
    text-align:center;
}
/* DETAILS   
----------------------------------------------------------*/
