
.divSitePics
{
    background-color: #efefef;
    max-width:960px;
    width: auto;
    height:632px;
    font-size:medium;    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#efefef',GradientType=0 );
    
}
.siteHeaderPrice
{
    float:right; 
    margin-top: 8px;
}
.sitePrice
{
    font-size:large;
    font-weight:bold;
    text-align:left;
}

.searchDetailHeader
{
    /*padding-top:0px;
    margin-top:0px;*/
    width: 100%;
    background-color: #fff;
}
div.searchDetailHeader h1
{
    font-size: xx-large;
}
div.searchDetailHeader h2
{
    font-size: x-large;
}
div.searchDetailHeader h3
{
    font-size: large;
}


.searchResultPagerButton
{
}
.searchResultPagerActiveButton
{
    font-weight:bold;
    font-size:large;
}
.searchResultPagerNestPrevButton
{
     padding: 4px;
     cursor:pointer;
}

