/* DEFAULTS
----------------------------------------------------------*/

body   
{
    /*background: #d4dfe9;*/
    font-size: medium;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333333;
    
    /*background: #cccc33;
    background: -moz-linear-gradient(top,  #cccc33 0%, #cccc4b 56%, #cccc76 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccc33), color-stop(56%,#cccc4b), color-stop(100%,#cccc76));
    background: -webkit-linear-gradient(top,  #cccc33 0%,#cccc4b 56%,#cccc76 100%);
    background: -o-linear-gradient(top,  #cccc33 0%,#cccc4b 56%,#cccc76 100%);
    background: -ms-linear-gradient(top,  #cccc33 0%,#cccc4b 56%,#cccc76 100%);
    background: linear-gradient(to bottom,  #cccc33 0%,#cccc4b 56%,#cccc76 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccc33', endColorstr='#cccc76',GradientType=0 );*/
    
/*background: rgb(209,211,96);
background: -moz-linear-gradient(top,  rgba(209,211,96,1) 0%, rgba(229,230,150,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,211,96,1)), color-stop(100%,rgba(229,230,150,1)));
background: -webkit-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%);
background: -o-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%);
background: -ms-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%);
background: linear-gradient(to bottom,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d360', endColorstr='#e5e696',GradientType=0 );
*/
background: rgb(204,204,51);
background: -moz-linear-gradient(top,  rgba(204,204,51,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,51,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(204,204,51,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(204,204,51,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(204,204,51,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(204,204,51,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccc33', endColorstr='#ffffff',GradientType=0 );


}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

img
{  
    border-style: none;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: large;
    color: #333333;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
}

h1
{
    font-size: x-large;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2
{
    font-size: large;
    font-weight: 600;
}

h3
{
    font-size: larger;
}

h4
{
    font-size: medium;
}

h5, h6
{
    font-size: medium;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    /*background-color: #fff;*/
    margin: 20px auto 10px auto;
    border: 0px solid #fff;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    /*background: #fff;*/
    width: 100%;
    
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );*/
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #3978b6;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.mainContent
{
    background: white;
    border: 1px solid #cccc33;
    border-top: 0px;
}

.main
{ 
    margin: 0px 8px 8px 8px;
    min-height: 420px;
    background: white;
 /*   
background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#1affffff',GradientType=0 );
*/
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #333333;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    background: white;
}

.highlight
{
    /*-moz-border-radius: 15px;
    border-radius: 15px;*/
    
    color: #333333;
    margin: 0px auto;
    line-height: normal;
    background: #fff;
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
*/
}

.lnkButton
{
    background: white;
    display:block;
    margin:auto;
    padding: 4px;
    text-align:center;
    vertical-align: middle;
    width:auto;
}

.lnkButton:hover
{
    background: white;
}
.lnkButton a
{
    text-decoration: none;
}
.lnkButton a:hover
{
    text-decoration: underline;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    width:100%;
}

div.menu
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    /*padding: 4px 0px 4px 8px;*/
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    font-size:medium;
    font-weight: bold;
    border: 1px #cccc33 solid;
    border-bottom: 1px #cccc33 solid;
    color: #333333;
    display: block;
    line-height: 1.6em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;

    -moz-border-top-left-radius: 15px;
    -moz-border-top-right-radius: 15px;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
    
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );

}

div.menu ul li a:hover
{
    text-decoration: none;
    /*border: 1px #333333 solid;*/
    border-bottom: 1px white solid;
    /*background: white;*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffffff',GradientType=0 );
}

div.menu ul li a:active
{
    text-decoration: none;
    border-bottom: 1px white solid;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}