/* BROKER PARTS STYLES
----------------------------------------------------------*/

/* BUTTON */
.brokerButton
{
    display:block;
    border: solid 1px #002e4f;
    padding: 10px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
.brokerButton:hover
{
    /*background:url(../images/backgroundTopBlueShort.png) repeat-x top;*/
    background-color: rgb(0,129,198);
    color:white;
}
a.brokerButton 
{
    text-decoration: none;
}

/* FEATURED AD */
.featuredAd
{
    border: solid 1px rgba(0, 46, 79, 0.31);
    /*background:url(../images/backgroundTopBlueShort.png) repeat-x top;*/
    margin-right:10px;
    padding: 10px;
    text-align:center;
    width:200px;
}
.featuredAd h1
{
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
    font-size: 1.4em;

}
.featuredAd img
{
    border: solid 1px #efefef;
    max-height: 150px;
    max-width: 190px;
}


.searchResult
{
    display:inline-block ;
}
.searchResultPic
{
}
.searchResultCode
{
    left:500px;
}
.searchResultType
{
    padding-left:50px;
}
.searchResultValue
{
    padding-left:50px;
}
.searchResultDetails
{
}



/* PAGER */
.pager
{
	margin: 8px 3px;
	padding: 3px;
}

.pager .disabled
{
	border: 1px solid #ddd;
	color: #999;
	margin-top: 4px;
	padding: 3px;
	text-align: center;
}

.pager .current
{
	background-color: #6ea9bf;
	border: 1px solid #6e99aa;
	color: #fff;
	font-weight: bold;
	margin-top: 4px;
	padding: 3px 5px;
	text-align: center;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager a
{
	border: 1px solid #aaa;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
}

