<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <add name="AM_DWEntities" connectionString="metadata=res://*/DWEntities.csdl|res://*/DWEntities.ssdl|res://*/DWEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-ACER;Initial Catalog=AM_DW;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PietaEntities" connectionString="metadata=res://*/Data.PietaDataModel.csdl|res://*/Data.PietaDataModel.ssdl|res://*/Data.PietaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-PC;Initial Catalog=TK1_Pieta;Persist Security Info=True;User ID=sa;Password=ncssp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TK1Entities" connectionString="metadata=res://*/TK1DataModel.csdl|res://*/TK1DataModel.ssdl|res://*/TK1DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MdoEntities" connectionString="metadata=res://*/Data.MdoDataModel.csdl|res://*/Data.MdoDataModel.ssdl|res://*/Data.MdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANDRE-NOTEPLUS;Initial Catalog=TK1;Persist Security Info=True;User ID=sa;Password=P@$$w0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegra" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/services/Integra.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIntegra" contract="TK1IntegraService.IIntegra"
        name="BasicHttpBinding_IIntegra" />
    </client>
  </system.serviceModel>
</configuration>